.aboutMeContainer{
    display:flex;
    margin-top:10%;
    flex-direction: row;
}

.container h1{
    font-size: 80px;
    text-align:center;
}

img{
    width:100%;
}

.interests{
    display:flex;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: center;
}

.interestsBox{
    justify-content: center;
    padding:10px;
    text-align:center;
    margin-top: 50px;
}

.skillsets h1{
    font-size:80px;
}

.skillsets i{
    font-size:80px;
    padding:30px;
    color:yellow;
}

@media(max-width:1195px){
    .container h1{
        font-size:60px;
    }
}

@media(max-width:990px){
    /* .interestsBox img{
        width:50%;
    } */
    .aboutMeContainer p{
        font-size:14px;
    }
}
@media(max-width:766px){
    .aboutMeContainer p{
        font-size:20px;
        margin-top:50px;
    }
}
