body{
    height:100%;
    background: var(--black);
    color:var(--white);
    font-family:'Play', sans-serif;
}
.container-fluid{
    padding:0px;
}

hr{
    border-top:3px solid #4d4d4d;
    margin-top:5%;
    width:80%;
}