.footerBg{
    background:black;
    width: 100%;
    height:150px;
    margin-top:5%;
    position: relative;
}

.footerBg i{
    color:var(--white);
    font-size:50px;
    margin-top:40px;
}

.footerBg .row{
    width:100%;
}

.github{
    margin-left: 20px;
}

.linkedin{
    margin-right:20px;
}

footer{
    position: absolute;
    bottom:0px;
}