:root {
    --blue: #1d80ba;
    --red: #c41919;
    --white: #f2f2f2;
    --black:#2b2b2b;
    --yellow:#e0e011;
    --green:#0eba39;
    --purple:#660099;
    --teal:#007a99;
    --orange:#dd8100;
    --lightBlue:#56eeff;
}